body {
  
}

h4.hotel {
  font-family:'Open Sans Condensed';
  color:#ffffff;
}

p.hotel {
  color:#4a4a4a;
  font-family:'Open Sans Condensed';
  font-size:35px;
}

@media (max-width: 480px) {
  p.hotel {
    font-size:16px;
    text-align:center;
  }
}

@media screen and (max-width: 480px) {
  div.division {
    width:80%;
  }
}

ul.incluyen {
  color:#4a4a4a;
  font-family:'Open Sans Condensed';
  font-size:18px;
}

h2.ciudad {
  position:relative;
  color:white;
  margin:auto;
  font-family:open sans condensed;
  font-size:4em;
  margin-bottom:30px;
}

div.division {
  margin-top:100px;
}

.fondo {
  min-width:100%;
  max-height:950px;
  min-height:450px;
  background-position:center top;
  background-size:cover;
  background-repeat:no-repeat;
  padding-top:20%;
}

@media screen and (max-width: 900px) {
  .fondo {
    padding-top:200px;
    min-height:500px;
  }
}

.row.header {
  background-color:#1f2021;
  color:#ffffff;
}

div.usuario {
  padding-left:80px;
}


.smscreen {
  max-height:800px;
  background-size:100%;
  background-repeat:no-repeat;
  min-height:600px;
  padding-top:30%;
}

@media screen and (max-width: 480px) {
  .smscreen {
    min-height:360px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Open Sans Condensed';
  color:#ffffff;
}

.boton1 {
  border-color:#ffffff;
  color:#ffffff;
  width:200px;
  margin:auto;
  font-family:open sans condensed;
  font-size:20px;
}

div .sorprendete {
  font-family:'Open Sans Condensed';
  font-size:25px;
}

input {
  display:block;
  margin:auto;
  margin-top:30px;
}

.vinculos:focus, .vinculos:hover {
  color:#ffffff;
}

.smscreen2 {
  max-height:800px;
  background-size:cover;
  background-repeat:no-repeat;
  min-height:300px;
  padding-top:15%;
  background-position:center;
}

.fondo2 {
  min-width:100%;
  max-height:950px;
  min-height:900px;
  background-position:center top;
  background-size:cover;
  background-repeat:no-repeat;
  padding-top:20%;
}

.titulos2 {
  font-size: 24px;
  color: #b58a03;
}

.boton2 {
  background:#b58a03;
  border-color:#ffffff;
  color:#ffffff;
  width:200px;
  margin:auto;
  font-family:open sans condensed;
  font-size:20px;"
}
